@media only screen and (max-width: 375px) {
  body {
    font-size: 12px;
  }
  .container {
    padding: 5px;
  }
  .header {
    flex-direction: column;
    width: 100%;
    margin: 0;
    align-items: flex-start;
  }

  .header__right {
    margin: 10px 0;
    justify-content: space-between;
  }

  .header__right h4 {
    margin: 0;
  }

  .social {
    margin-top: 10px;
    width: 100%;
  }

  .social__item {
    margin-top: 10px;
  }

  .Overview__header {
    width: 55%;
  }

  .social__item-number h2 {
    font-size: 25px;
  }
}
