* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  width: 350px;
}

.container img {
  border-radius: 20px;
  max-width: 100%;
  max-height: 100%;
}

.description h3 {
  font-family: Outfit;
  text-align: center;
  padding: 20px;
  font-size: 22px;
}

.para p {
  font-size: 16px;
  text-align: center;
  opacity: 0.5;
  font-family: Outfit;
  padding: 0px 10px 20px 10px;
}
.example {
  display: -ms-grid;
  display: grid;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(white),
    to(black)
  );
  background: -o-linear-gradient(top, white, black);
  background: linear-gradient(to bottom, white, black);
}
